header {
    text-align: center;
}
nav {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 10px;
}
main {
    padding: 20px;
}
div {
    margin-bottom: 20px;
}
h2 {
    margin-top: 0;
}
.menuList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
li {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
li:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
h3 {
    margin-top: 0;
    font-size: 1.2rem;
}
.add-to-cart {
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
