@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #eee;
}

.navbar-header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    z-index: 2;
}

.navbar-nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
}

.navbar-nav a:hover {
    color: var(--secondaryColor);
}

.shopcart-hmbrgr-icons-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.navbar-header .shopping-cart-button {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    font-size: 1.8rem;
}

.navbar-header .nav-btn {
    display: none;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    opacity: 0;
    font-size: 1.8rem;
}

.navbar-header div,
.navbar-nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .navbar-header .nav-btn {
        display: contents;
        opacity: 1;
    }

    .navbar-header .navbar-nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 0.5s;
    }

    .navbar-header .responsive_nav {
        transform: translateY(100vh);
    }

    .navbar-nav .nav-close-btn {
        position: sticky;
        top: 2rem;
        right: 2rem;
    }

    .navbar-nav a {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 300px){
    .navbar-header .navbar-nav {
        position: fixed;
        top: -120vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 0.5s;
    }
}