.shopping-cart-page {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 100vw;
    min-height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-cart-items {
    width: fit-content;
}

.shopping-cart__title {
    font-size: 28px;
    margin-bottom: 20px;
    padding-top: 4vh;
    color: #e91e63;
}

.shopping-cart__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    width: 60vw;
}

.shopping-cart__item {
    border: 1px solid #000000;
    padding: 10px 10px 10px 10px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 3px;
    height: 93px;
}

.shopping-cart-img {
    max-width: 120px;
    aspect-ratio: 16/9;
    object-fit: cover;
    align-self: center;
}

.shopping-cart__item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(2.5px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.shopping-cart__button {
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: fit-content;
    align-self: center;
    justify-self: center;
    padding-top: 4px;
}

.shopping-cart__button:hover {
    background-color: #005b7f;
}

.shopping-cart__button--checkout{
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding: 4px;
}

.total-cost-text {
    color: #24262b;
}

.checkout-section {
    display: flex;
    flex-direction: row;
    bottom: 4vh;
    width: 250px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #e91e63;
    padding: 10px;
}

.shopping-cart-input {
    width: 30px;
    height: 30px;
    border: 1;
    align-self: center;
    justify-self: center;
}

/* for arrows to always show on number input*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 0.5;
}

.price-per-item {
    color: #6b6b6b;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    font-size: 15px;
}

.item-name {
    color: #24262b;
    grid-column: 2;
    grid-row: 1;
    font-size: 15px;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    .shopping-cart__item {
        font-size: 2vh;
    }
    .shopping-cart__list{
        width: 90vw;
    }
}
    @media only screen and (max-width: 660px) {
        .shopping-cart-img{
            display: none;
        }
        .item-name{
            grid-column: 1;
            align-self: center;
            border-right: 1px solid #24262b;
            margin:0 4px 0 4px;
        }
    }

    @media only screen and (max-width: 300px) {
        body {
            margin: 0;
            padding: 0;
        }
        .checkout-section {
            width: 80vw;
        }

        .shopping-cart__button {
            font-size: 1vh;
        }
    }
